# LLP109: Digital Application Development 
# `Lecture 3- Python Practice Answer 1 (exercises)`

# <font color='Blue'>Exercises set 1: </font>

__EX 1.1.__ Predict what the following lines of Python will do. Then, run object_reference to see if they match what you expect:

Why does this happen? Talk with your neighbour.

In [1]:
s = [0] * 3
print(s)
s[0] += 1
print(s)

s = [''] * 3
print(s)
s[0] += 'a'
print(s)

s = [[]] * 3
print(s)
s[0] += [1]
print(s)

[0, 0, 0]
[1, 0, 0]
['', '', '']
['a', '', '']
[[], [], []]
[[1], [1], [1]]

__EX 1.2.__ Given the following lists:

In [2]:
device1 = ['Macbook Pro', 2479]
device2 = ['Dell XPS', 1899]
device3 = ['Asus Notebook', 1599]

- Add colour to each of the devices.
- The Asus has been renamed Asus Zenbook, change its name.
- Form a list containing all the devices. 

__Expected output:__
[[’Macbook Pro’, 2479, ’White’], [’Dell XPS’, 1899, ’Silver’], [’Asus Zenbook’, 1599, ’Red’]]

In [3]:
#sol
#1
device1.append('White')
device2.append('Silver')
device3.append('Red')

In [4]:
#2
device3[0]='Asus Zenbook'

In [5]:
#3
device_list = [device1,device2,device3]

__EX 1.3.__ Manipulate the following lists to obtain a list of all possible concatenated two word strings.

__Expected output:__ [’Hello World’, ’Hello Python’, ’Bye World’, ’Bye Python’]

In [6]:
list1 = ["Hello", "Bye"]
list2 = ["World", "Python"]

In [7]:
mergeList=[]
for i in list1:
    for j in list2: 
        mergeList.append(i+' '+j)
print(mergeList)

['Hello World', 'Hello Python', 'Bye World', 'Bye Python']

__EX 1.4.__ Remove every occurrence of the elements of value 99 from the following list using list modifiers:

__Note:__ remove method removed only the first instance of value.

In [8]:
numbers = [12, 24, 22, 66, 99, 45, 99, 57, 89, 99, 20, 99,99]

__Expected output:__ [12, 24, 22, 66, 45, 57, 89, 20]

In [9]:
#this code won't work correctly, why is that? Check the lecture 3A slide 36 for more details 
numbers = [99,99,12, 24, 22, 66, 99, 45, 99, 57, 89, 99, 20, 99,99]
for i in numbers: 
    if (i==99):
        numbers.remove(i)
print(numbers)

[12, 24, 22, 66, 45, 57, 89, 20, 99, 99]

In [10]:
#The right answer is: 
new_numbers= numbers[:]
for i in new_numbers: 
    if (i==99):
        numbers.remove(i)
print(numbers)

[12, 24, 22, 66, 45, 57, 89, 20]

In [11]:
# Or using comprehension
numbers_new = [x for x in numbers if x != 99] # using list comprehension

------

# <font color= 'blue'>Exercises set 2:</font>
__EX 2.1.__ Get the key of a minimum value from the following dictionary
use min function, you can look it up here https://docs.python.org/3/library/functions.html#min

In [12]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
#Expected output: Math

In [13]:
print(min(sampleDict))

Math

__EX 2.2.__ Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [14]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
#Output after removing unwanted elements from list [47, 69, 76, 97]

In [15]:
roll_number2=[] # to avoid mutation side effect
for i in roll_number:
    if i in sample_dict.values():
        roll_number2.append(i)
print (roll_number2)

[47, 69, 76, 97]

__EX 2.3.__ Write a script that takes a list of dictionaries and returns the sum of people's budgets.

In [16]:
d1=  { "name": "John", "age": 21, "budget": 23000 }
d2=   { "name": "Steve",  "age": 32, "budget": 40000 }
d3=   { "name": "Martin",  "age": 16, "budget": 2700 }
d= [d1, d2, d3]
# Expected output: 65700

In [17]:
sumBudget=0
for dx in d: 
    sumBudget+=dx['budget']
print (sumBudget)

65700

-------

# <font color='Blue'> Exercises set 3:</font>
__EX 3.1.__ Find the values which are common in both lists below:

__Expected output:__ {5, 7, 9}

In [18]:
list1 = [1,2,3,4,5,5,5,6,7,8,9]
list2 = [9,10,11,11,5,7,12,13,14]

In [19]:
set(list1) & set(list2)

{5, 7, 9}

__EX 3.2.__ Find the values which are in list1 but not in list2
__Expected output:__ {1, 2, 3, 4, 6, 8}

In [20]:
list1 = [1,2,3,4,5,5,5,6,7,8,9]
list2 = [9,10,11,11,5,7,12,13,14]

In [21]:
# Solution
set(list1) - set(list2)

{1, 2, 3, 4, 6, 8}

__EX 3.3.__ Find whether the following string contains unique characters. Return True is string has no repeated character, and False otherwise

__Expected output:__ False for str1 True for str2 True for str3

In [22]:
str1 = 'hello'
str2 = 'abcd'
str3 = 'software'

In [23]:
print(len(str1) == len(set(str1)))
print(len(str2) == len(set(str2)))
print(len(str3) == len(set(str3)))

False
True
True

__EX 3.4.__ Below is some simple data about characters from BoJack Horseman:
The data contains the character name, the voice actor or actress who plays them, and the species of the character.

Write a for loop that uses destructuring so that you can print each tuple in the following format:

BoJack Horseman is a horse voiced by Will Arnet. (note lower and upper cases)

In [24]:
main_characters = [
    ("BoJack Horseman", "Will Arnett", "Horse"),
    ("Princess Carolyn", "Amy Sedaris", "Cat"),
    ("Diane Nguyen", "Alison Brie", "Human"),
    ("Mr. Peanutbutter", "Paul F. Tompkins", "Dog"),
    ("Todd Chavez", "Aaron Paul", "Human")
]

In [25]:
for i in main_characters:
    a,b,c = i
    print (a.title()+" is a "+ c.lower()+" voiced by "+b.title())

Bojack Horseman is a horse voiced by Will Arnett
Princess Carolyn is a cat voiced by Amy Sedaris
Diane Nguyen is a human voiced by Alison Brie
Mr. Peanutbutter is a dog voiced by Paul F. Tompkins
Todd Chavez is a human voiced by Aaron Paul

__EX 3.5.__ Unpack the following tuple into 4 variables:

The data represents a student's name, their student id number, and their major and minor disciplines in that order.

In [26]:
studentData= ("John Smith", 11743, ("Computer Science", "Mathematics"))

In [27]:
name,sID,disciplines= studentData
major, minor= disciplines

__EX 3.6.__ Investigate what happens when you try to zip two iterables of different lengths. For example, try to zip a list containing three items, and a tuples containing four items. What if the length of our sequence is unequal? Discuss with your neighbour

In [28]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = [1, 2, 3]
zipped = zip(list1, list2)

We can see that the zip function ignores the rest of the longer sequence. Therefore, we should
use zip for unequal sequences if we don’t care about training.