# LLP109: Digital Application Development 
# `Lecture 3 - Python Practice`



In this tutorial we will learn more about compound data types in Python, that includes: 

* Tuples
* Lists
* Dictionaries
* Sets
* Useful methods with looping

# 1. Tuples:
Tuples are ordered and immutable, which means you are not allowed to change a value of an element in a tuple.
## 1.1 Creating and accessing tuples
We start with creating an empty tuple.

In [ ]:
x = () # Using pair of parentheses to create an empty tuple
x = 'a', # Using trailing comma for a singleton tuple
x = ('a',) # Using trailing comma in brackets for a singleton tuple
x = 'a', 'b', 'c' # Using separating commas for a multiple object tuple
x = tuple() # Using the tuple() built-in function

A tuple can be instantiated as an empty container or directly with values. We can create tuples
with different datatypes and then access the values using an index specified inside square
brackets:

In [ ]:
car1 = ('Porsche', 'Cayenne', 58.195, True) # Create car1 tuple
house1 = ('Clifton', 78.9, 'freehold', False) # Create house1 tuple
print(house1[0])# print first value in house1
print(car1[2])# print third value in car1
print(car1[-1])# Use negative index to get last value of car1
print(house1[4])# Get fifth value in house1

__Note:__ As we can see, there is an index error with the last statement as it is trying to access an index
larger than the number of items in the tuple.

## 1.2 Concatenating, repeating and slicing of tuples
Similar to strings, we can concatenate tuples or repeat a tuple multiple times.

In [ ]:
car1 = ('Porsche', 'Cayenne', 58.195, True)
sale1 = car1 + ('London', '12/10/20')
print(sale1) # Prints concatenated tuple of car1 and 'London','12/10/20')
print(car1[:2]) # prints element from index 0 up to the index 2
print(car1[-3:-1]) # prints from third to last up to the last element
print(car1*2) # Prints all elements of car twice in a single tuple

# 2. Lists: 
Lists are the  most versatile datatype available in Python which can be written as a list of comma separated
values (items) between square brackets. Lists are mutable, which allows you to
change the element inside the list. In the context of data science, lists tend to be used with
homogeneous datatypes making it more efficient to process large data sets.

## 2.1 Constructing lists
There are several way to construct a list:

In [ ]:
x = []# Using pair of bracket to create an empty tuple
x = ['a']
x = ['a', 'b','c'] # Using square brackets, separating items with commas
x = list() # Using the list() built-in function

## 2.2 Accessing elements
Similar to tuples, elements of a list can be accessed by their indices:

In [ ]:
colours = ['Red', 'Blue', 'Green', 'Black']
print(colours[0])
print(colours[-1])
print(colours[2])

## 2.3 Modifying lists
Lists are mutable; Once a list has been created, elements can be added, deleted, shifted, and
moved around at will. Python provides a wide range of ways to modify lists:

In [ ]:
colours = ['Red', 'Blue', 'Green', 'Black'] # Creating a list of colours
colours.append('White') # Append a new colour to the end of the list
print(colours)
colours.insert(2, 'Purple') #Add Purple in index 2 of list of colours
print(colours)
colours.remove('Green') # Remove a specific value
del colours[0] # Remove a value at specific index
print(colours)
deleted_colour = colours.pop(1) # Remove value at index 1 and return value
print(colours)
print(deleted_colour)
colours[2] = 'Orange' # Change value in index 2 White -> Orange (mutable)
print(colours)

## 2.4 Combining lists
Two lists can be added together in order to combine them into one list. Lists respond to the "+"
and "*" operators much like strings; they mean concatenation and repetition here too, except
that the result is a new list, not a string.

In [ ]:
list1 = [1, 2, 3] # Create list1
list2 = ['Red', 'Green', 'Black'] # Create list2
final_list = list1 + list2 # Combining list1 and list2 in final_list
print(final_list)
list2.extend(list1) # Add elements of list1 to end of list2
print(list2)

Important Notes:
1. It is important to protect the data you have in the compound data types. Make sure you are not losing any information when you perform operations or manipulate them. In the example above list1 has been edited and the original list is no longer stored.
2. In python all datatypes have built-in functions for their direct instantiation e.g. tuple(), int() etc. These can be used if you want to explicitly define the type in your code.

# <font color='Blue'>Exercises set 1: </font>

__EX 1.1.__ Predict what the following lines of Python will do. Then, run object_reference to see if they match what you expect:

Why does this happen? Talk with your neighbour.

In [ ]:
s = [0] * 3
print(s)
s[0] += 1
print(s)

s = [''] * 3
print(s)
s[0] += 'a'
print(s)

s = [[]] * 3
print(s)
s[0] += [1]
print(s)

__EX 1.2.__ Given the following lists:

In [ ]:
device1 = ['Macbook Pro', 2479]
device2 = ['Dell XPS', 1899]
device3 = ['Asus Notebook', 1599]

- Add colour to each of the devices.
- The Asus has been renamed Asus Zenbook, change its name.
- Form a list containing all the devices. 

__Expected output:__
[[’Macbook Pro’, 2479, ’White’], [’Dell XPS’, 1899, ’Silver’], [’Asus Zenbook’, 1599, ’Red’]]

In [ ]:
#sol
#1

In [ ]:
#2

In [ ]:
#3

__EX 1.3.__ Manipulate the following lists to obtain a list of all possible concatenated two word strings.

__Expected output:__ [’Hello World’, ’Hello Python’, ’Bye World’, ’Bye Python’]

In [ ]:
list1 = ["Hello", "Bye"]
list2 = ["World", "Python"]

In [ ]:
mergeList=[]
## Write your answer here
print(mergeList)

__EX 1.4.__ Remove every occurrence of the elements of value 99 from the following list using list modifiers:

__Note:__ remove method removed only the first instance of value.

In [ ]:
numbers = [12, 24, 22, 66, 99, 45, 99, 57, 89, 99, 20, 99]

__Expected output:__ [12, 24, 22, 66, 45, 57, 89, 20]

In [ ]:
# consider mutation side effect when solving this question

In [ ]:
# Another solution: Can you use list comprehension for this?

------

# 3. Dictionaries
Dictionaries are mapping type objects which map a hashable value to arbitrary objects. In other
words, dictionaries are a set of key:value pairs where keys are unique. Dictionaries are mutable.
Unlike sequence types (list and tuples), which are indexed by a range of numbers, dictionaries
are indexed by keys, which can be any immutable types such as strings and numbers.

## 3.1 Creating Dictionaries
There are a few ways we can create a dictionary such as:

In [ ]:
my_dict = {} # Using a pair of braces to create an empty dictionary
team_city1 = {'Liverpool_FC': 'Liverpool', 'Tottenham_FC':'London','Everton_FC':'Liverpool' } # Using key:value pair
team_city2 = dict(Liverpool_FC='Liverpool FC', Tottenham_FC='London',Everton_FC='Liverpool') # Using dict constructor (we use key=value)
team_city3 = dict([('Liverpool_FC','Liverpool'),('Tottenham_FC','London'), ('Everton_FC','Liverpool')]) # Using dict constructor and list of (key,value) pairs

In dictionaries we store Key:Value pairs. The key is a unique identifier that can be used to
access the value. The value can be any variable type (even another dictionary). As you can see
in the instantiations above, the construction of a dictionary can be carried out in a number of
ways.

## 3.2 Access and Mutating Dictionaries
If we want to access the value in a dictionary, we can use any of the following ways:

In [ ]:
team_city1['Liverpool_FC'] # Pass the key inside []

In [ ]:
team_city1['Liverpool_FC'] = 'Birmingham' # Set new value for the key ,!Liverpool_FC
print(team_city1)

In [ ]:
team_city1 = {'Liverpool_FC': 'Liverpool', 'Tottenham_FC':'London','Everton_FC':'Liverpool' }
print(list(team_city1)) # Return the list of keys using list()
print(team_city1.keys()) # Return the keys using .keys()

In [ ]:
for key, value in team_city1.items():
    print('Team:', key, ' , City:', value)
    # print('Team:{} , City:{}'.format(key, value)) # Alternative way to print using format

In order to delete an entry from a dictionary, we can use the del keyword.

In [ ]:
del team_city1['Liverpool_FC'] # Delete the object with key Liverpool_FC
print(team_city1)

To remove all the elements from a dictionary, we can use the clear() method.

In [ ]:
team_city1.clear() # Remove all the elements from the dictionary
print(team_city1)

To add an entry to a dictionary, we can use the update() method or add it directly:

In [ ]:
team_city1 = {'Tottenham_FC':'London' }
team_city1.update({'Everton_FC':'Liverpool'})
print(team_city1)
team_city1['Liverpool_FC'] = 'Liverpool'
print(team_city1)

What if we want to update the key for a value? We can use pop() method to do it. pop()
removes a key from dicntionary (if it exists) and returns its value. Let’s use it to update a key
for a value.

In [ ]:
fr_eng = {'one': 'un', 'two': 'deux', 'four': 'trois'}
fr_eng['three'] = fr_eng.pop('four')
print(fr_eng)

## 3.4 Nested dictionaries: 
Let’s consider the following dictionaries for each car manufacturer:

In [ ]:
Toyota = {'name':'Toyota', 'Rank': 1, 'Vehicles': 10466051}
Volkswagen = {'name':'Volkswagen', 'Rank': 2, 'Vehicles': 10382334}
Hyundai = {'name':'Hyundai', 'Rank': 3, 'Vehicles': 7218391}

In [ ]:
cars_list = [Toyota, Volkswagen, Hyundai]
print (cars_list)

To nest dictionaries we can use the same key:value pair style as with a normal dictionary,
just in this case we are using a dictionary for the value.

In [ ]:
cars_dict = {'Toyota': Toyota, 'Volkswagen': Volkswagen, 'Hyundai': Hyundai}
print(cars_dict)

## 3.5 Merging Dictionaries
We can merge dictionaries into a single dictionary using ** operator.

In [1]:
car = {'name':'Toyota', 'Rank': 1, 'Vehicles': 10466051}
customer = {'fname':'kevin', 'lname': 'nejad', 'City': 'London'}
sale = {**car, **customer}
print(sale)

{'name': 'Toyota', 'Rank': 1, 'Vehicles': 10466051, 'fname': 'kevin', 'lname': 'nejad', 'City': 'London'}

What if dictionaries have common keys? Let’s look at an example where dictionaries have keys in common.

In [2]:
member = {'fname': 'Kevin', 'membership': 'premium','location':'London'}
gym = {'location': 'London', 'capacity': 500}
gym_member = {**member, **gym}
print(gym_member)
gym_member = {**gym, **member}
print(gym_member)

{'fname': 'Kevin', 'membership': 'premium', 'location': 'London', 'capacity': 500}
{'location': 'London', 'capacity': 500, 'fname': 'Kevin', 'membership': 'premium'}

We can see that in the cases where dictionaries have common keys, the value of the key in
the right-most dictionary is selected.

# <font color= 'blue'>Exercises set 2:</font>
__EX 2.1.__ Get the key of a minimum value from the following dictionary
use min function, you can look it up here https://docs.python.org/3/library/functions.html#min

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
#Expected output: Math

In [ ]:
#Sol

__EX 2.2.__ Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [ ]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
#Output after removing unwanted elements from list [47, 69, 76, 97]

In [ ]:
# Sol: note to avoid mutation side effect

__EX 2.3.__ Write a script that takes a list of dictionaries and returns the sum of people's budgets.

In [ ]:
d1=  { "name": "John", "age": 21, "budget": 23000 }
d2=   { "name": "Steve",  "age": 32, "budget": 40000 }
d3=   { "name": "Martin",  "age": 16, "budget": 2700 }
# Expected output: 65700

In [ ]:
#Sol
sumBudget=0
d= [d1, d2, d3]
#Complete your answer here
print (sumBudget)

-------

# 4. Sets
Set objects are unordered collection of hashable unique/distinct items. Sets have very useful
applications such as: membership testing, eliminating duplicates from a sequence, and computing
mathematical operations on sets such as intersection, union, difference, and symmetric
difference. Unlike list and tuples, set doesn’t support indexing, slicing. This is because sets are
unordered and do not record element position in order of insertation.

## 4.1 Creating Sets
To construct a set, we can use can use the following ways:

In [ ]:
empty_set = set() # Create an empty set using set constructor
color_set = {'blue', 'yellow', 'red'}
set_from_list = set([1,1,2,3,4,4,4,4,4,5,6,7,8,9]) # Construct a set from list. This removed the duplicated
print(set_from_list)
set_from_string = set('abbddskkjjwooejjflla') # construct a list of unique letter in the string
print(set_from_string)

Note: The use of empty curly brackets will create a dictionary not a set!

## 4.2 Set operations:

In [ ]:
palette1 = {'blue', 'yellow', 'purple', 'white'}
palette2 = {'yellow', 'orange', 'red', 'black'}
# Difference between two pallette
palette1 - palette2 # returns colors palette1 but not in palette2
# Symmetric difference between two pallette
palette1 ^ palette2 # returns colors palette1 and palette2 but not both
# union of two pallette
palette1 | palette2 # return the colors which are in both palettes
# intersection of two pallette
palette1 & palette2 # return the colors which are in both palettes

# 5. Useful Sequence Operations

## 5.1 Unpacking
Iterable datatypes can be unpacked into separate variables (or other datatypes). Care must be
taken for the number of variables in the list to equal the number of variables to unpack to. This
can be seen in lists or tuples (seen below):

In [ ]:
fruit = 'apple', 'banana', 'pear', 'grape', 'pineapple' # create tuple of fruits
a, b, c, d, e = fruit # Unpack tuple into separate variables
print(a,',',b,',',c,',',d,',',e) # show the separated variables
print(type(a)) # print the type of the variables.

## 5.2 Zipping
Zip is a function which returns a zip object. Zip function returns an iterator of tuples such that
the i-th tuple contains the i-th item from each of sequences which are zipped together.

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
zipped = zip(list1, list2)
print(list(zipped))

Note: Iterables are objects capable of returning their members one at a time. This includes all sequence
types (lists, strings, tuples) and some non-sequence types (dictionary). However, as sets aren’t ordered,
this would be ill advised as the elements are paired randomly!

## 5.3 Enumerate
Enumerate is a built-in function that allows you to get the index of an element in a sequence while
we are looping through it. You can think of enumerate as a for loop with a counter.

In [ ]:
colors = ['blue', 'black','yellow', 'red', 'white']
for index, color in enumerate(colors):
    print('Index in the list:', index, ', Color:', color)

# <font color='Blue'> Exercises set 3:</font>
__EX 3.1.__ Find the values which are common in both lists below:

__Expected output:__ {5, 7, 9}

In [ ]:
list1 = [1,2,3,4,5,5,5,6,7,8,9]
list2 = [9,10,11,11,5,7,12,13,14]

In [ ]:
#Sol

__EX 3.2.__ Find the values which are in list1 but not in list2
__Expected output:__ {1, 2, 3, 4, 6, 8}

In [ ]:
list1 = [1,2,3,4,5,5,5,6,7,8,9]
list2 = [9,10,11,11,5,7,12,13,14]

In [ ]:
#Sol

__EX 3.3.__ Find whether the following string contains unique characters. Return True is string has no repeated character, and False otherwise

__Expected output:__ False for str1 True for str2 True for str3

In [ ]:
str1 = 'hello'
str2 = 'abcd'
str3 = 'software'

In [ ]:
#Sol

__EX 3.4.__ Below is some simple data about characters from BoJack Horseman:
The data contains the character name, the voice actor or actress who plays them, and the species of the character.

Write a for loop that uses destructuring so that you can print each tuple in the following format:

BoJack Horseman is a horse voiced by Will Arnet. (note lower and upper cases)

In [ ]:
main_characters = [
    ("BoJack Horseman", "Will Arnett", "Horse"),
    ("Princess Carolyn", "Amy Sedaris", "Cat"),
    ("Diane Nguyen", "Alison Brie", "Human"),
    ("Mr. Peanutbutter", "Paul F. Tompkins", "Dog"),
    ("Todd Chavez", "Aaron Paul", "Human")
]

In [ ]:
#Sol

__EX 3.5.__ Unpack the following tuple into 4 variables:

The data represents a student's name, their student id number, and their major and minor disciplines in that order.

In [ ]:
studentData= ("John Smith", 11743, ("Computer Science", "Mathematics"))

In [ ]:
#Sol

__EX 3.6.__ Investigate what happens when you try to zip two iterables of different lengths. For example, try to zip a list containing three items, and a tuples containing four items. What if the length of our sequence is unequal? Discuss with your neighbour

In [ ]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = [1, 2, 3]

# <font color='Blue'> Challenging problems </font>
Don't worry about doing these bonus problems. In most cases, challenge questions ask you to think more critically or use more advanced algorithms.

__Ch #1.__ Flipping Dictionaries
I asked our course staff what their favorite animal is and they gave me these answers:

In [ ]:
fav_animals = {
    'Kevin': 'horse',
    'Fanqi': 'Alpaca',
    'Jack': 'dog',
    'Ayush': 'dog',
    'Zahraa': 'Alpaca',
    'Ioana': 'cat',
    'Edgardo': 'cat'
}

In this problem, we'll reverse the fav_animals dictionary to create a new dictionary which associates animals to a list of people for whom that animal is their favorite.
More precisely, write a function that properly reverses the keys and values of a dictionary - each key (originally a value) should map to a collection of values (originally keys) that mapped to it.


For example,
=> {"Alpaca": ["Zahraa", "Fanqi"], "horse": ["Kevin"], "dog":["Jack", "Ayush"], "cat":[Ioana, Edgardo]}

Another example:

In [ ]:
flip_dict={"CA": "US", "NY": "US", "ON": "CA"}
# => {"US": ["CA", "NY"], "CA": ["ON"]}

Note: there is a data structure in the collections module from the standard library called defaultdict which provides exactly this sort of functionality. However, in this question try to solve it using loops instead of calling defaultdict.

In [ ]:
#Sol

In [ ]:
#Another sol using defaultdict

__Ch #2.__ Write a Python program to count the occurrences of each word in a given sentence from user input.

Example: 'the quick brown fox jumps over the lazy dog.'

__Expected output:__ {'the': 2, 'jumps': 1, 'brown': 1, 'lazy': 1, 'fox': 1, 'over': 1, 'quick': 1, 'dog.': 1}

In [ ]:
#Sol

__Ch #3.__Write a Python program to compute element-wise sum of given tuples.


x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
results: (6, 9, 8, 6)

In [ ]:
#Sol

## References and resources: 
- https://docs.python.org/3/tutorial/datastructures.html
- https://www.programiz.com/python-programming/set